blinker
cachelib
certifi
charset-normalizer
click
colorama
Flask
Flask-Caching
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
python-dotenv
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
